* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
  color: white;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.tittle-logo {
  font-family: 'Righteous', cursive;
  flex-direction: column;
  line-height: 30px
}

.nav-menu {
  display: flex;
  gap: 32px
}

.nav-menu-item {
  font-family: 'Sarala', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FFF2E7
}

.main {
  border-top: 0.4px solid #FFF2E7;
  margin-bottom: 48px;
}

.conteudo-principal-cardapio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 48px;
  border-bottom: 0.4px solid #ECD6C4;
  padding-bottom: 55px;
}

.imagem-lateral {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tittle-coffee {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #FFF2E7;
}

.nome-produtos {
  font-family: 'Sarala', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #020001;
}

.descricao-produtos {
  font-family: 'Sarala', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ECD6C4;
  line-height: 20px;
}

.img-coffe-lista {
  height: 40px;
}

#irish-cream {
  height: 70px;
}

#cafe-espresso {
  height: 55px;
}

#cafe-latte {
  height: 48px;
}

.container-produto {
  display: flex;
  align-items: center;
  gap: 30px;
}

.conteudo-secundario-cardapio {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 48px;
  padding-bottom: 55px;
}

.img-gelados-lista {
  height: 40px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: row; 
}

#shake-coffee {
  height: 50px;
}

#soda-italiana {
  height: 50px;
}

#shekereto-ice {
  height: 30px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.4px solid #FFF2E7;
  padding: 32px;
}

.p-footer {
  font-family: 'Sarala', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ECD6C4;
}