* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
  color: white;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.tittle-logo {
  font-family: 'Righteous', cursive;
  flex-direction: column;
  line-height: 30px
}

.nav-menu {
  display: flex;
  gap: 32px
}

.nav-menu-item {
  font-family: 'Sarala', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #FFF2E7
}

.main {
  border-top: 0.4px solid #FFF2E7;
  margin-bottom: 48px;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 48px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 50%;
}

.titulo-principal{
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #FFF2E7
}

.paragrafo-principal {
  font-family: 'Sarala', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ECD6C4;
  width: 60%;
}

.img-melhor-grao {
  height: 300px;
  border-radius: 150px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 15px;
  color: black;
  padding: 50px;
}

.titulo-quartario {
  border-top: 0.4px solid #FFF2E7;
  padding-top: 40px;
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 16px;
  color: #FFF2E7;
}

.p-conteudo-secundario {
  font-family: 'Sarala', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ECD6C4;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.4px solid #FFF2E7;
  padding: 32px;
}

.p-footer {
  font-family: 'Sarala', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ECD6C4;
}